.c-animation {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: .8s all ease;

  &.active {
    transform: translateY(0);
    opacity: 1;

    &.fade-bottom {
      animation: fade-bottom .8s ease-in;
    }

    &.fade-left {
      animation: fade-left .8s ease-in;
    }

    &.fade-right {
      animation: fade-right .8s ease-in;
    }
  }
}

.c-zoom {
  object-fit: cover;
  opacity: 1;
  transition: transform 1s,opacity 1s;

  &:hover {
    transform: scale(1.1);
    transition: transform .5s,opacity 1s;
  }
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}