.c-btnReadmore {
  background-color: $color_yellow;
  border-radius: 5px;
  padding: 10px 30px;
  text-transform: uppercase;
  margin-bottom: auto;
  font-weight: 300;

  @include bp(tab) {
    @include fs(13, 24);
    background-color: $color_yellow;
    color: $color_white;
    padding: 4px 20px;
  }
}

.c-btnReadmoreNews {
  border-radius: 10px;
  background-color: $color_green;
  color: $color_white;
  text-align: center;
  text-transform: uppercase;
  padding: 9px 30px;
  
  @include fs(25, 30);

  font-weight: 700;

  font-family: $font-family-barlow;

  @include bp(tab) {
    @include fs(13, 24);
    background-color: $color_yellow;
    color: $color_white;
    padding: 4px 20px;
  }
}

.c-btnSubmit {
  @include fs(25, 30);

  color: $color_white;
  background-color: $color-red;
  padding: 6px 20px;
  text-transform: uppercase;
  border-radius: 20px;
  @include transition();

  &:hover {
    opacity: .7;
  }
}