.c-chatbox {
  position: fixed;
  bottom: 24px;
  right: 28px;
  z-index: 9999;

  &_inner {
    position: fixed;
    bottom: 84px;
    right: 25px;
    z-index: 9999;
    display: flex;
    flex-flow: column;
    column-gap: 15px;

    @include bp(tab) {
      bottom: 54px;
      right: 40px;
    }
  }

  &_btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
    position: relative;
    transition: all .3s ease;
    background-color: $color_green;

    &_overlay {
      display: block;
      position: absolute;
      z-index: 0;
      width: 60px;
      height: 60px;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      animation: cbb-button-underlay 3s infinite;
      border-radius: 50%;
      background-color: rgb(3, 89, 88);
    }

    i {
      font-size: 23px;
    }
  }

  &_list {
    transition: transform .3s,opacity .3s,visibility .3s;
    opacity: 0;
    padding-bottom: 10px;
    display: none;

    &.open {
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }

  @include bp(tab) {
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 10;
    background-color: $color_white;
    

    &_bottom {
      display: flex;
      justify-content: space-between;
      column-gap: 1px;
      li {
        width: calc(100% / 3);
        a {
          display: block;
          background-color: $color_green;
          color: $color_white;
          text-align: center;
          padding: 10px 0 5px;

          i {
            font-size: 20px;
          }

          span {
            @include fs(15, 15);
            padding-top: 3px;
            font-weight: 500;
            display: block;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@keyframes cbb-button-underlay {
  0% {
      opacity: .25;
      width: 96%;
      height: 96%
  }

  40% {
      opacity: .25
  }

  to {
      opacity: 0;
      width: 150%;
      height: 150%
  }
}