@import '../common/variables';
@import '../common/mixins';

// --------------------
// Header
// --------------------
.l-header {
	position: relative;
	background-color: $color-green;

	&_inner {
		padding: 15px 0;
		.logo {
			max-width: 170px;
		}
	}

	@include bp(tab) {
		position: fixed;
		width: 100%;
		z-index: 6;
		top: 0;

		&_inner {
			padding: 8px 0;

			.logo {
				max-width: 120px;
			}
		}
	}
}