.icon-whatsapp {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: url(../images/icons/whatsapp.png) no-repeat;
  background-size: contain;
}

.icon-zalo {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: url(../images/icons/zalo.png) no-repeat;
  background-size: contain;
}

.icon-viber {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: url(../images/icons/viber.png) no-repeat;
  background-size: contain;
}