@import '../common/variables';
@import '../common/mixins';

body {
    position: relative;
    background-color: #f8f9f2;
    @include bp(769px) {
        min-width: 1000px;
    }
}
input, button {
    outline: none;
}

.l-content {
    margin-top: 40px;
}

// .container {
//     width: 100%;
//     max-width: 1020px;
//     margin: 0 auto;
//     position: relative;
//     @include bp(769px) {
//         padding: 0 10px;
//     }
//     @include bp(tab) {
//         padding: 0 setvw(30px);
//     }
// }
.p-flex {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
}
.row {
    @include clearfix;
    margin: 0 -1.9%;
    @include flexbox;
    @include flex-wrap(wrap);
    @include bp(tab) {
        margin: 0 -3%;
    }
}
@include bp(pc) {
    .col-pc-1 {
        width: 100%;
        margin: 0 -1.9%;
    }
    .col-pc-2 {
        float: left;
        width: 46.2%;
        margin: 0 1.9%;
    }
    .col-pc-3 {
        float: left;
        width: 29.53%;
        margin: 0 1.9%;
    }
    .col-pc-4 {
        float: left;
        width: 21.2%;
        margin: 0 1.9%;
    }
}
@include bp(tab) {
    .col-sp-2 {
        float: left;
        width: 44%;
        margin: 0 3% 20px;
    }
    .col-sp-1 {
        margin: 0 3% 20px;
        width: 100%;
    }
}
.heading-section {
    font-size: 40px;
    line-height: 1.3;
    font-weight: 600;
    color: inherit;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 46px;
    @include bp(tab) {
        margin-bottom: setvw(50px);
        @include fs-vw(40,50);
    }
}
.p-container-sidebar {
    .site-main {
        background-color: #fff;
        margin-bottom: 60px;
        @include bp(pc) {
            width: 67.35%;
            padding: 50px 40px;
            &.full-main {
                width: 100%;
            }
        }
        @include bp(tab) {
            width: 100%;
            padding: setvw(40px) setvw(30px);
        }
        .post-list-cat.row {
            margin: 0 -2.5%;
            .col-pc-2 {
                width: 45%;
                margin-left: 2.5%;
                margin-right: 2.5%;
                @include bp(sp) {
                    width: 95%;
                }
            }
        }
    }
    .l-sidebar {
        @include bp(pc) {
            width: 28.85%;
        }
        @include bp(tab) {
            width: 100%;
        }
    }
}
input[type="checkbox"] {
    display: none;
    & + label {
        padding-left: 25px;
        position: relative;
        &:before {
            content: "";
            width: 17px;
            height: 17px;
            border: 1px solid #b5b5b5;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 4px;
        }
        &:after {
            content: "";
            border: 3px solid $color-red;
            border-top: none;
            border-right: none;
            @include transform(rotate(-45deg));
            position: absolute;
            left: 5px;
            top: 4px;
            width: 15px;
            height: 9px;
            opacity: 0;
        }
    }
    &:checked + label:after {
        opacity: 1;
    }
}
input[type="text"],
input[type="email"] {
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: none;
    font-weight: bold;
    font-family: $font-family-opensan;
    letter-spacing: 1px;
    padding-left: 11px;
    height: 45px;
    @include fs(14,22);
    border-radius: 3px;
}
select {
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    height: 45px;
    @include fs(14,22);
    border-radius: 3px;
}
input[type="submit"] {
    display: block;
    width: 250px;
    border: 0;
    font-size: 16px;
    color: #fff;
    padding: 10px;
    border-radius: 25px;
    line-height: 1;
    height: 50px;
    margin: 25px auto 0;
    background-color: #525252;
}
.wpcf7 {
    .wpcf7-form {
        > p {
            @include clearfix;
        }
    }
    label {
        @include bp(pc) {
            float: left;
            width: 30%;
        }
        span {
            color: #ff6464;
            border: 1px solid #ff6464;
            border-radius: 3px;
            font-size: 14px;
            background-color: #fff;
            padding: 1px 9px;
            margin-left: 12px;
            font-weight: normal;
        }
    }
    .wpcf7-form-control-wrap  {
        display: block;
        @include bp(pc) {
            float: left;
            width: 70%;
        }
    }
}
.wp-block-quote {
    border: 1px solid;
    border-radius: 10px;
    margin: 0 0 40px;
    padding: 10px 20px;
    p {
        margin-bottom: 0 !important;
    }
}
.searchform {
    .search-box {
        position: relative;
    }
    input[type="text"] {
        background-color: #fff;
        width: 100%;
        border: 0;
        box-shadow: none;
        font-weight: bold;
        font-family: $font-family-opensan;
        letter-spacing: 1px;
        border-radius: 14px;
        width: 253px;
        height: 28px;
        padding-left: 11px;
    }
    .search-btn {
        position: absolute;
        right: 7px;
        top: 50%;
        @include transform(translateY(-50%));
        width: 15px;
        height: 15px;
    }
}
.search-btn {
    background-color: transparent;
    background-image: url('../images/common/search-icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.pagination {
    margin-bottom: 86px;
    .screen-reader-text {
        display: none;
    }
    .nav-links {
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 0 3px;
        .page-numbers {
            position: relative;
            display: block;
            width: 37px;
            height: 37px;
            margin: 0 3px;
            line-height: 37px;
            text-align: center;
            background-color: #e7e7e7;
            font-size: 14px;
            font-weight: bold;
            &.current {
                background-color: $color-red;
                color: #fff;
            }
            &.prev {
                background-color: transparent !important;
                background-position: center;
                background-repeat:  no-repeat;
                background-image: url('../images/common/arrow-l.svg');
                background-size: 12px 17px;
                text-indent: -9999px;
            }
            &.next {
                background-color: transparent !important;
                background-position: center;
                background-repeat:  no-repeat;
                background-image: url('../images/common/arrow-r.svg');
                background-size: 12px 17px;
                text-indent: -9999px;
            }
        }
        &.disabled {
            visibility: hidden;
            opacity: 0;
        }
        img {
            width: 12px;
            height: 17px;
            margin-top: 10px;
        }
    }
}
.img-center {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* Modal */
.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1072;
  display: none;
  overflow: hidden;
  outline: 0;

  .modal-open & {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.modal-dialog {
  position: relative;
  width: 90%;
  max-width: 612px;
  margin: auto;
  height: 100%;
  pointer-events: none;
  .modal.fade & {
    @include transition(transform .3s ease-out);
    transform: translate(0, -25%);
  }
  .modal.in & {
    transform: translate(0, 0);
  }
}

// Actual modal
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; 
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 5px;
  outline: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 57px 20px 50px;
  .modal-title {
    @include fs(26,36);
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 15px;
    span {
        @include fs(20,30);
        font-weight: bold;
    }
  }
  .modal-header {
    position: relative;
    margin-bottom: 22px;
    p {
        @include fs(18,33);
        font-weight: bold;
        letter-spacing: 1px;
    }
    .close {
        position: absolute;
        top: -56px;
        right: -4px;
        font-size: 39px;
        color: #9b9b9b;
        font-weight: normal;
    }
  }
  .modal-body {
    p {
        @include fs(20,33);
        letter-spacing: 1px;
        color: $color-red;
        font-weight: bold;
    }
  }
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1071;
  background-color: #000;

  &.fade { opacity: 0; }
  &.in { opacity: 0.5; }
}

.heading-02 {
    @include fs(40,50);
    font-weight: bold;
    letter-spacing: 2px;
    @include bp(tab) {
        @include fs(24,34);
    }
}