@import '../common/variables';
@import '../common/mixins';

body {
    position: relative;
    background-color: $color_white;
    @include bp(769px) {
        min-width: 1000px;
    }
}
input, button {
    outline: none;
}

.l-content {
    // margin-top: 40px;
}

.l-footer {
    padding-top: 40px;
}

.site-main {
    &.is-fixed {
        @include bp(pc) {
            padding-top: 90px;
        }
    }

    @include bp(tab) {
        margin-top: 58px;
        // padding-top: 90px;
    }
}

.container-lg {
    @include bp(tab) {
        padding-left: 20px;
        padding-right: 20px;
    }
}