.nav-link {
  color: $color_white;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;

  &:hover {
    color: $color_yellow;
  }
}

.navbar-expand-lg .navbar-nav {
  .nav-link {
    padding-right: 15px;
    padding-left: 15px;
  }
}