.p-contact {
  padding: 128px 0 100px;
  background: #025955 url(../images/common/bg_contact.png) no-repeat top center;
  background-size: cover;

  &_inner {
    max-width: 720px;
    margin: 0 auto;
  }

  &_form {
    margin-top: 60px;
  }

  .c-form_button {
    margin-bottom: 30px;
  }

  .c-form_action {
    padding-top: 80px;
  }
}