.p-postList {
  padding-top: 20px;
  font-family: $font-family-inter;
  
  &_title {
    @include line-clamp(2);
    
    @include fs(18, 25);
    
    margin-bottom: 5px;

    a {
      color: $color_green;
      font-weight: 500;
    }
  }

  &_meta {
    color: $color_green;
    font-weight: 400;
    margin-bottom: 5px;
    
    @include fs(12, 14);
  }

  &_excerpt {
    @include line-clamp(2);

    margin-bottom: 10px;
    text-align: justify;
    font-weight: 500;

    p {
      font-weight: 500;
      @include fs(14, 20);
    }
  }

  &_item {
    padding-bottom: 25px;
    border-bottom: 1px solid $border-light-gray;

    &:not(:first-child) {
      padding-top: 25px;
    }
  }
}