.p-services {
  @include bp(pc) {
    margin-top: -206px;
    background: url(../images/common/bg_services.png) top center;
    height: 894px;
    padding-top: 300px;
  }

  @include bp(tab) {
    padding-top: 28px;
  }

  &_group {
    margin-top: 40px;
    max-width: 956px;
    margin: 40px auto;

    @include bp(sp) {
      margin-top: 10px;
    }

    &_item {
      position: relative;
      margin-bottom: 10px;
      padding: 0;
      border-radius: 25px;
      
      @include bp(pc) {
        border: 20px solid $color_white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        max-width: 442px;
        margin-bottom: 35px;
      }

      &::before {
        position: absolute;
        top: 15px;
        right: 15px;
        display: inline-block;
        content: "";
        background-image: url(../images/icons/icon-arrow.svg);
        background-size: contain;
        width: 14px;
        height: 13px;
        z-index: 2;
      }

      img {
        border: 3px solid $color_white;
        border-radius: 14px;
        @include bp(pc) {
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}