/*------------------------------
 Contact page
------------------------------*/

*::-webkit-input-placeholder {
	color: #adadad !important;
}
*::-moz-placeholder { 
	color: #adadad !important;
}
*:-ms-input-placeholder {
  	color: #adadad !important;
}
*:-moz-placeholder {
  	color: #adadad !important;
}
