/*------------------------------
 Single page
------------------------------*/
.single-post {
	.site-main {
		padding: 0;
		background-color: transparent;
	}
}
.p-content_page_single {
	background-color: #fff;
	padding: 50px 40px 30px;
	margin-bottom: 62px;
	@include bp(tab) {
		padding: setvw(30px);
	}
	.post-meta {
		position: relative;
		text-align: center;
		padding-bottom: 30px;
		margin-bottom: 42px;
		&:after {
			content: "";
			width: 200px;
			height: 5px;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			background-color: $color-red;
		}
		.post-cat {
			font-size: 15px;
			font-weight: bold;
			margin-top: 1px;
			margin-bottom: 8px;
			letter-spacing: 1.2px;
			a {
				font-size: 15px;
				font-weight: bold;
			}
		}
		.post-title {
			@include fs(32,42);
			font-weight: bold;
			letter-spacing: 0.8px;
			margin-bottom: 19px;
			a {
				@include fs(32,42);
				font-weight: bold;
				letter-spacing: 0.8px;
				margin-bottom: 19px;
			}
		}
		.post-date {
			@include fs(14,24);
			letter-spacing: 1px;
		}
	}
	.post-tags {
		text-align: right;
		li {
			display: inline-block;
			margin-left: 6px;
			margin-bottom: 5px;
			a {
				display: block;
				background-color: #f2f1f1;
				padding: 0 9px;
				@include fs(12,22);
				font-weight: bold;
				&:before {
					content: "#";
					display: inline-block;
					margin-right: 4px;
				}
			}
		}
	}
	.article-head {
		margin-bottom: 5px;
	}
	.post-img {
		margin-bottom: 32px;
	}
	.article-body{
		h2 {
			@include fs(26,36);
			font-weight: bold;
			padding-left: 2px;
			letter-spacing: 0.6px;
			margin-bottom: 15px;
			margin-top: 45px;
			&:before {
				content: "";
				width: 16px;
				height: 16px;
				background-color: $color-red;
				@include transform(rotate(45deg));
				display: inline-block;
				position: relative;
				top: -3px;
				margin-right: 14px;
			}
			&:first-child {
				margin-top: 20px;
			}
		}
		h3 {
			@include fs(24,34);
			font-weight: bold;
			margin-top: 45px;
			letter-spacing: 0.6px;
			padding-bottom: 7px;
			margin-bottom: 24px;
			border-bottom: 1px solid #d3d3d3;
			position: relative;
			&:before {
				content: "";
				height: 3px;
				width: 80px;
				background-color: $color-red;
				position: absolute;
				left: 0;
				bottom: -2px;
			}
		}
		h4 {
			@include fs(22,32);
			font-weight: bold;
			letter-spacing: 0.6px;
			margin-bottom: 15px;
		}
		p {
			@include fs(16,26);
			font-weight: bold;
			margin-bottom: 20px;
			a {
				font-weight: bold;
				color: $color-red;
			}
		}
		ul {
			padding-left: 20px;
			margin-bottom: 25px;
			li {
				@include fs(22,32);
				font-weight: bold;
				position: relative;
				padding-left: 25px;
				margin-bottom: 5px;
				&:before {
					content: "";
					width: 16px;
					height: 16px;
					border: 2px solid $color-red;
					position: absolute;
					left: 0;
					top: 9px;
				}
			}
		}
		ol {
			counter-reset: custom-counter;
			margin-bottom: 25px;
			padding-left: 20px;
			li {
				@include fs(22,32);
				font-weight: bold;
				counter-increment: custom-counter;
				margin-bottom: 4px;
				letter-spacing: 0.3px;
				&:before {
					content: counter(custom-counter) " : ";
					color: $color-red;
					font-weight: bold;
					margin-right: 2px;
				}
			}
		}
		table {
			border-collapse: collapse;
			margin-top: 30px;
			width: 100%;
			margin-bottom: 52px;
			tr {
				td {
					@include fs(16,26);
					font-weight: bold;
					text-align: center;
					border: 1px solid #b5b5b5;
					padding: 4px 0;
					&:first-child {
						border-left-color: #323232;
					}
					&:last-child {
						border-right-color: #323232;
					}
				}
				&:first-child {
					td {
						border-top-color: #323232;
						background-color: #dcdcdc;
					}
				}
				&:last-child {
					td {
						border-bottom-color: #323232;
					}
				}
			}
		}
		blockquote {
			border: 3px solid $color-red;
			padding: 4px;
			position: relative;
			margin: 53px 0 56px;
			&:before {
				content: "";
				background-image: url('../images/common/quote.svg');
				width: 20px;
				height: 14px;
				position: absolute;
				left: 16px;
				top: 16px;
			}
			p {
				border: 1px solid $color-red;
				@include fs(16,26);
				color: $color-red;
				padding: 28px 32px 26px;
				letter-spacing: 1px;
				margin-bottom: 0;
			}
		}
	}
	.post-info {
		p {
			font-size: 16px;
			margin-bottom: 8px;
			span {
				&:first-child {
					min-width: 83px;
					display: inline-block;
				}
			}
			a {
				color: $color-red;
				text-decoration: underline;
			}
		}
		.post-author {
			span {
				&:last-child {
					color: $color-red;
					text-decoration: underline;
				}
			}
		}
	}
}
.related-post {
	.realted-title {
		@include fs(26,36);
		font-weight: bold;
		padding-left: 33px;
		position: relative;
		letter-spacing: 0.6px;
		padding-bottom: 7px;
		border-bottom: 1px solid;
		margin-bottom: 37px;
		&:before {
			content: "";
			width: 16px;
			height: 16px;
			border: 2px solid $color-red;
			@include transform(rotate(45deg));
			display: inline-block;
			position: absolute;
			top: 10px;
			left: 3px;
		}
	}
	.post-list {
		margin: 0 !important;
		padding: 0 1px;
		.post-tag {
			color: $color-red;
		}
		.col-pc-2 {
			@include bp(401px) {
				width: 42% !important;
			    margin-left: 4% !important;
			    margin-right: 4% !important;
			}
		}
	}
}