/*------------------------------
 Single page
------------------------------*/
.p-post {
  &_meta {
    @include fs(18, 22);
    column-gap: 15px;

    color: $color_green;
    margin-bottom: 20px;

    i {
      margin-right: 10px;
    }
    span,
    a {
      font-weight: 300;
    }

    @include bp(tab) {
      @include fs(13, 22);
      column-gap: 8px;

      i {
        margin-right: 5px;
      }
    }
  }

  &_title {
    @include fs(40, 50);

    font-weight: 500;
    color: $color_green;
    padding-bottom: 10px;

    @include bp(tab) {
      @include fs(30, 40);
    }
  }

  &_tags {
    margin: 20px 0;
    li {
      display: inline-block;
      margin: 5px 3px;

      a {
        color: $color_white;
        background-color:rgba($color: $color_green, $alpha: 0.7);
        padding: 5px 7px;
        border-radius: 3px;
        
        @include fs(13, 15);
      }
    }
  }

  &_content {
    @include fs(18, 26);

    font-weight: 300;

    p {
      color: $color-font-base;
      margin-bottom: 1em;
      text-align: justify;
    }

    h2 {
      @include fs(28, 40);
    }

    h3 {
      @include fs(24, 40);
    }

    h4 {
      @include fs(22, 40);
    }

    h2, h3, h4 {
      margin: 0.5em 0;
      color: $color_green;
      font-weight: 400;
    }

    @include bp(tab) {
      @include fs(16, 24);

      h2 {
        @include fs(25, 30);
      }
  
      h3 {
        @include fs(22, 30);
      }
  
      h4 {
        @include fs(20, 30);
      }
    }
  }
}